@import "sass/variables", "sass/mixins", "sass/global", "sass/components",
  "sass/navbar", "sass/footer";

/********************* Start Home section *********************/

.home-sec {
  position: relative;
  height: 710px;

  &::after {
    content: "";
    @include overlay(rgba($color: $black, $alpha: 0.5));
    z-index: -1;
  }

  .home-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -2;
    .home-img {
      width: 100%;
      // height: 100%;
      height: 710px;
      object-fit: cover;

      @media screen and (max-width: $screen-md) {
        height: 500px;
      }
    }
  }

  &.sm{
    height: 240px;

    .home-slider {
      .home-img {
        height: 240px;
      }
    }
  }
}

/********************* End Home section *********************/

/********************* Start Banner section *********************/

.banner-container {
  @include center;
  gap: 30px;

  .banner-item {
    display: flex;
    align-items: center;
    gap: 30px;

    .banner-img {
      max-width: 200px;
      max-height: 155px;
    }

    .banner-ic {
      max-width: 100px;
      max-height: 100px;
    }

    &:last-child {
      .banner-ic {
        display: none;
      }
    }
  }
}

/********************* End Banner section *********************/

/********************* Start Services section *********************/

.cards-slider {
  position: relative;
  margin-bottom: 40px;

  .owl-nav {
    position: absolute;
    top: -88px;
    @include dir-right(105px);
    display: flex;
    gap: 5px;
  }

  .owl-prev,
  .owl-next {
    @include circle($btn-height);
    border: 1px solid $main !important;
    background-color: $main !important;
    color: $white !important;
    @include center;
    font-size: 16px !important;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: $main-transition;

    &:hover {
      color: $main !important;
    }

    @media screen and (max-width: $screen-sm) {
      display: none !important;
    }
  }
}

.product-card {
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: $white;

  .img {
    border-radius: 8px;
    overflow: hidden;

    .product-img {
      width: 100%;
      height: 240px;
      object-fit: cover;
      transition: $main-transition;
    }
  }

  .product-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;

    .product-name {
      font-size: 18px;
      // font-family: fontDemi;
      font-weight: 700;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      height: 26px;
    }

    .product-subtitle {
      color: $black;
      line-height: 25px;
      font-size: 15px;

      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      height: 52px;
    }

    .product-footer {
      @include between;
      font-size: 15px;

      .product-btn {
        .cart-item {
          position: absolute;
          top: -6px;
          @include dir-right(-8px);
          @include circle(20px);
          @include center;
          z-index: 8000;
          opacity: 0;

          &:before {
            position: absolute;
            content: "1";
            display: block;
            @include circle(20px);
            font-size: 11px;
            font-weight: 600;
            background: $orange;
            color: white;
            @include center;
            z-index: 8000;
          }
        }
        &.sendtocart {
          .cart-item {
            display: block;
            animation: xAxis 1s forwards cubic-bezier(1, 0.44, 0.84, 0.165);
            &:before {
              animation: yAxis 1s alternate forwards
                cubic-bezier(0.165, 0.84, 0.44, 1);
            }
          }
        }
      }
    }
  }

  &:hover {
    .img {
      .product-img {
        transform: scale(1.1) rotate(-5deg);
      }
    }
  }

  .anchor {
    font-size: 15px;
    color: $main;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &:hover {
    &::after {
      width: 100%;
      height: 100%;
      top: 0;
      @include dir-left(0 !important);
    }
  }
}

/********************* End Services section *********************/

/********************* Start About section *********************/

.about-sec {
  background-color: $sec;
  position: relative;
  overflow: hidden;

  .bg_sec {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
  }

  .bg_sec2 {
    position: absolute;
    top: -20px;
    left: 0;
    width: 80px;
    height: 80px;
    z-index: 1;
    // object-fit: cover;
  }

  .about-container {
    @include between;
    gap: 35px;

    .about-img {
      width: 500px;
      object-fit: cover;
      height: 350px;
      border-radius: 8px;
    }

    .about-content {
      display: grid;
      row-gap: 18px;

      .logo {
        max-width: 80px;
        max-height: 90px;
      }

      .about-title {
        font-size: 20px;
        font-weight: 700;
      }

      .about-text {
        line-height: 26px;
      }

      .main-btn {
        width: fit-content;
      }
    }
  }
}

/********************* End About section *********************/

/********************* Start text section *********************/

.text-sec {
  position: relative;
  padding: 140px 0;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: $black, $alpha: 0.7);
    z-index: 1;
  }

  .background_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
  }

  .brand-text {
    text-align: center;
    font-size: 32px;
    color: $white;
    position: relative;
    z-index: 3;
  }
}

/********************* End text section *********************/

/********************* Start brand section *********************/

.clients-slider {
  .owl-stage-outer {
    padding: 20px 0;

    .owl-item {
      display: flex;
      align-items: center;
    }
  }
}
.client-item {
  background-color: $white;
  box-shadow: $main-shadow;
  padding: 15px 20px;
  @include center;
  width: 200px;
  height: 100px;
  border-radius: 12px;
  position: relative;

  &::after,
  &::before {
    content: "";
    position: absolute;
    @include circle(40px);
    background-color: $sec;
    z-index: -1;
  }

  &::after {
    top: -8px;
    @include dir-right(-8px);
  }

  &::before {
    bottom: -8px;
    @include dir-left(-8px);
  }
}

.brand-img {
  max-width: 80px;
  max-height: 75px;
}

/********************* End brand section *********************/

/********************* Start reviews section *********************/

.reviews-slider {
  .center {
    .review-card {
      background-color: $sec;
      transform: scale(1);
      opacity: 1;
    }
  }

  .owl-dots {
    margin-top: 35px;
    @include center;
    gap: 7px;

    .owl-dot {
      @include circle(10px);
      background-color: $light !important;
      transition: $main-transition;

      &.active {
        background-color: $main !important;
      }
    }
  }
}

.review-card {
  background-color: $white;
  border-radius: 15px;
  padding: 25px 20px;
  box-shadow: $main-shadow;
  transition: $main-transition;
  transform: scale(0.8);
  opacity: 0.7;

  .top {
    display: flex;
    align-items: center;
    gap: 14px;
  }

  .review-img {
    @include circle(65px !important);
    object-fit: cover;
    box-shadow: $main-shadow;
  }

  .name {
    font-size: 19px;
    font-weight: 700;
    color: $black;
    margin-bottom: 5px;
  }

  .jop {
    font-size: 17px;
    color: $light2;
  }

  .text-con {
    position: relative;
    margin-top: 18px;

    .info {
      // text-align: center;
      line-height: 25px;
      font-size: 16px;
    }
  }
}

/********************* End reviews section *********************/

/********************* Start form section *********************/
// .form-sec{
//   background-color: $white;
//   box-shadow: $main-shadow;
//   border-radius: 15px;

//   .form-style
// }
/********************* End form section *********************/